@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&family=Montserrat:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Quicksand', sans-serif;
}

body {
  margin: 0;
  background: radial-gradient(#282c34, #282c34);
}

main {
  min-height: 64.8vh;
}

.not-found,
.error {
  margin-top: 5rem;
  text-align: center;
}

.not-found h1,
.error h1 {
  font-size: 1.5rem;
  font-size: clamp(1.5rem, 1.3333333333333333rem + 0.6666666666666667vw, 2rem);
  margin: 0;
  font-weight: bold;
  color: #ddd8d8;
  font-family: 'Montserrat', sans-serif;
}

.not-found p,
.error p {
  font-size: 1rem;
  font-size: clamp(1rem, 0.8333333333333333rem + 0.6666666666666667vw, 1.5rem);
  font-weight: 500;
  color: #ddd8d8;
}

.not-found img {
  width: 80%;
  max-width: 40rem;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #282c34;
}

::-webkit-scrollbar-thumb {
  background: #8f3a09;
}
