.header {
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
  gap: 3rem;
  margin: auto;
  max-width: 76rem;
  align-items: center;

  @media (width >= 768px) {
    flex-direction: row;
  }
}

.image {
  position: relative;
  width: 100%;
  max-width: 30rem;
  height: 20rem;
}

.header img {
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
  animation: fade-slide-in-from-left 1s ease-out forwards;
}

.headerText {
  padding: 0.5rem 1rem 0 1rem;
  color: #ddd6cb;
  max-width: 30rem;
  animation: fade-slide-in-from-right 1s ease-out forwards;
}

.headerText h1 {
  margin: 0;
  font-size: 1.5rem;
  font-size: clamp(1.5rem, 1.3333333333333333rem + 0.6666666666666667vw, 2rem);
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}

.creator {
  font-size: 1rem;
  font-size: clamp(1rem, 0.8333333333333333rem + 0.6666666666666667vw, 1.5rem);
  color: #cfa69b;
  font-style: italic;
}

.creator a {
  text-decoration: none;
  color: #f9572a;
  transition: color 0.25 ease-in-out;
}

.creator a:hover,
.creator a:active {
  color: #ff8a05;
}

.summary {
  font-size: 1rem;
  font-size: clamp(1rem, 0.8333333333333333rem + 0.6666666666666667vw, 1.5rem);
}

.instructions {
  font-size: 1rem;
  font-size: clamp(1rem, 0.8333333333333333rem + 0.6666666666666667vw, 1.5rem);
  line-height: 1.5;
  background-color: #6e6464;
  font-weight: bold;
  color: #13120f;
  border-radius: 8px;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
  padding: 2rem;
  width: calc(100% - 2rem);
  max-width: 74rem;
  margin: 1rem auto;
  animation: fade-slide-in-from-bottom 1s ease-out forwards;
}

.loading {
  font-size: 3rem;
  text-align: center;
  color: #ddd6cb;
  font-weight: bold;
  animation: flash 1s ease-in-out infinite alternate;
}

@keyframes fade-slide-in-from-left {
  0% {
    opacity: 0;
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-slide-in-from-right {
  0% {
    opacity: 0;
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-slide-in-from-bottom {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes flash {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
